<h2>New Book</h2>
<form action="/books" method="POST">
    <%- include('./book_form') %>
    <button class="btn btn-secondary"><a href="/books">Cancle</a></button>
    <button class="btn btn-info">Create</button>
</form>